/*  your css code here. If applicable */
.box{
	width: 100px;
	height: 100px;
	background-color: red;
	animation: pulse 1s infinite ease-in-out;
}

@keyframes pulse{
	to{
	   transform: scale(1.05);
	}
}